body {
  background-color: #222;
  cursor: default;
  font-family: "Nunito", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.lizImg {
  width: 470px;
  border-radius: 2px;
  opacity: 0.05;
}

@media (max-width: 500px) {
  .lizImg {
    width: 80%;
    border-radius: 0.5%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
